.frame{
    height: 140px;
    border-radius: 25px;
}
.DB-frame-data{
    display: flex;
    align-items: center;
    padding: 30px 16px 16px 20px;
}
.container{
    border-radius: 25px;
}

.circle{
    display: flex;
    justify-content: center; 
    align-items:center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1); 
    box-shadow: 1;
}

.circle .icon{
    color: #6633FF;
    width: 40px;
    height: 40px;
    margin-top: 5%;
}