.Grid-Point .frame-data{
    display: block;
    align-items: center;
    padding: 30px 16px 16px 20px;
}
.Grid-container{
    border-radius: 50px;
    
}

.Bidding-frame-data .avatar{
    display: flex;
    justify-content: center;
    position: 'absolute'; 
    transform: 'translate(-50%, -50%)';
    margin-top: -50px;
    border: '10px solid white';
}

.Grid-container .Grid-frame{
    height: 28rem;
    border-radius: 15px;
    
}
.Grid-container .Grid-project{
    margin-top: 20px;
    height: 300px;
    border-radius: 15px;
}

.Grid-container .Grid-Point{
    height: 300px;
    margin-top: 20px;
    border-radius: 15px;
}

.Grid-container .quarter-top{

    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow);
    width: 100%;
    height: 11rem;
    border-radius: 15px;
    margin-top: -15px;
}
.Grid-frame.Bidding-frame-data{
    display: block;
    align-items: center;
    height: auto;
    padding: 30px 16px 16px 16px;
   
}

.Grid-container .quarter-bot{
    display: flex;
    flex-direction: column;
    align-items: center; /* Canh giữa theo trục ngang */
    justify-content: center; /* Canh giữa theo trục dọc */
    height: 100%; /* Đảm bảo rằng Box chiếm hết chiều cao của phần tử cha */
    text-align: center; /* Căn giữa văn bản */
    padding-top: -30px;
}
.Bidding-frame-data .value{
    display: flex;
    text-align: center;
    padding-top: 25px;
}
.frame-data .box-icon{
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 165px;
    background-color: rgba(102,102,195,0.1);
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
}
.Grid-Contribute .frame-data{
    display: block;
    align-items: center;
    padding: 30px 16px 16px 20px;
}